.card-1-t {
    color: #5888f8;
}

.para-details {
    color: #9697a4;
}

@media (max-width: 1199px) and (min-width: 768px) {
    .card-1-t {
        font-size: 23px !important;
    }
}

@media (max-width: 767px) and (min-width: 500px) {
    .card-1-t {
        font-size: 18px !important;
    }

    .para-details {
        font-size: 16px;
    }

    .text-box {
        margin-top: 0% !important;
    }

    .box-text-size p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 14px;
    }
}

@media (max-width: 499px) and (min-width: 320px) {
    .card-1-t {
        font-size: 14px !important;
    }

    .para-details {
        font-size: 13px;
    }

    .text-box {
        margin-top: 0% !important;
    }

    .box-text-size p {
        font-size: 14px;
    }
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 31px;
    color: #bfbcb9;
}

.card:hover .content .heading {
    font-weight: 700;
    font-size: 31px;
    color: white;

}

.card:hover .content .para {
    line-height: 1.5;
    color: white;
}

.content .para {
    line-height: 1.5;
    color: #bfbcb9;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    width: 100%;
}

.card:hover {
    box-shadow: none;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    transition: width 5s ease;
}

.card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

.cardheight {
    height: 27rem !important;
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .content .heading {
        font-size: 25px !important;
    }
}

@media (max-width: 1199px) and (min-width: 764px) {
    .content .heading {
        font-size: 20px !important;
    }
}

@media (max-width: 763px) and (min-width: 576px) {
    .content .heading {
        font-size: 18px !important;
    }
}
.pb-130, .py-130 {
    padding-bottom: 130px;
}

.pt-130, .py-130 {
    padding-top: 130px;
}
.about-image {
    max-width: 100%;
    padding-top: 18%;
    padding-right: 11%;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.delay-0-2s {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.about-image .years-fo-experience {
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    max-width: 400px;
    padding: 40px 60px;
}
.bgc-primary {
    background-color: #0066ff;
}
.bgs-cover {
    background-size: cover;
    background-position: center;
}
@media only screen and (min-width: 480px){
    .about-image .years-fo-experience .count-text {
        font-size: 65px;
    }
}

.about-image .years-fo-experience .count-text {
    color: white;
    margin-bottom: 20px;
    display: inline-block;
}
h2, .h2, .count-text {
    line-height: 1.22;
    font-size: 45px;
}
.about-image .years-fo-experience h4 {
    color: white;
    line-height: 1.65;
    font-size: 24px;
}
.mb-30, .my-30 {
    margin-bottom: 30px;
}
.section-title {
    margin-top: -7px;
}
.section-title .sub-title {
    font-size: 18px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #01c9f5;
    text-decoration: underline;
}
.mb-15, .my-15 {
    margin-bottom: 15px;
}
.section-title h2 {
    margin-bottom: 25px;
}

h2, .h2, .count-text {
    line-height: 1.22;
    font-size: 45px;
}
.client-satisfactions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 444px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pb-10, .py-10 {
    padding-bottom: 10px;
}
.pt-10, .py-10 {
    padding-top: 10px;
}
.heading {
    font-weight: 700;
    color: #293043;
    font-family: "Merriweather", serif;
    font-size: 24px;
}
.count-text {
    font-weight: 700;
    color: #293043;
    font-size: 60px;
    font-family: "Merriweather", serif;
    padding: 0px 0px 0px 16px;
}
.section-title .sub-title:before {
    margin-right: 20px;
}
.section-title .sub-title:before {
    float: left;
    line-height: 0;
    font-size: 40px;
    font-weight: 300;
    content: "\f141";
    font-family: 'Font Awesome 5 Pro';
}
