.pb-170, .py-170 {
    padding-bottom: 170px;
}

.pt-245, .py-245 {
    padding-top: 245px;
}
.bgc-lighter {
    background-color: #f7f9fd;
}
.banner-shapes:before {
    left: 10%;
    top: 65%;
    border-color: #01c9f5;
    -webkit-animation: shapeAnimationOne 30s infinite;
    animation: shapeAnimationOne 30s infinite;
}
.banner-shapes .circle {
    width: 770px;
    height: 770px;
    z-index: -2;
    top: -300px;
    left: -200px;
    background: white;
    border-radius: 50%;
    position: absolute;
}
.banner-shapes .shape-one {
    left: 6%;
    top: 35%;
    -webkit-animation: down-up-two 15s infinite;
    animation: down-up-two 15s infinite;
}
.banner-shapes .shape-one, .banner-shapes .shape-two {
    z-index: -1;
    max-width: 10%;
    position: absolute;
}
.banner-shapes .shape-two {
    right: 6%;
    top: 65%;
    -webkit-animation: upDownLeft 20s infinite;
    animation: upDownLeft 20s infinite;
}

.banner-shapes .shape-one, .banner-shapes .shape-two {
    z-index: -1;
    max-width: 10%;
    position: absolute;
}
.banner-shapes:after {
    right: 10%;
    top: 20%;
    border-color: #ff8a00;
    -webkit-animation: shapeAnimationTwo 30s infinite;
    animation: shapeAnimationTwo 30s infinite;
}
.banner-shapes:after, .banner-shapes:before {
    position: absolute;
    border: 2px solid;
    content: '';
    width: 15px;
    height: 15px;
    z-index: -1;
    border-radius: 50%;
}
header:after, section:after, footer:after {
    display: block;
    clear: both;
    content: "";
}
.banner-inner h1 {
    font-size: 75px;
    font-weight: 700;
    text-transform: capitalize;
}
.breadcrumb .breadcrumb-item a:not(:hover) {
    color: #293043;
}
.breadcrumb .breadcrumb-item a:hover{
    color: #0066ff;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
  
}
.breadcrumb .breadcrumb-item a{
    font-size: 25px;
}
.breadcrumb .breadcrumb-item.active {
    color: #0066ff;
    font-size: 23px;
    text-decoration: underline;
}
@media (max-width: 991px) and (min-width: 320px){
    .banner-shapes .circle{
            width: 0px!important;
    }
    
    .banner-inner h1:after {
        margin-left: 99px!important;
       width: 71%!important;
    }
    .banner-inner h1 {
        font-size: 50px!important;
        margin-top: 92px!important;
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    
    .maintain-div {
      width: 100%!important;
      overflow-y: hidden!important;
     
    }
  }

@media (max-width: 991px) and (min-width: 768px) {
    .maintain-div{
        width: 99%!important;
    }
 } 
@media (max-width: 767px) and (min-width: 685px) {
    .maintain-div{
        width: 93%!important;
    }
 } 
@media (max-width: 684px) and (min-width: 568px) {
    .maintain-div{
        width: 92%!important;
    }
 } 
@media (max-width: 567px) and (min-width: 480px) {
    .maintain-div{
        width: 103%!important;
    }
 }