.Mission-heading {
    font-size: 18px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #01c9f5;
    text-decoration: underline;
}

.chosse-us-text {
    font-weight: 700 !important;
    color: #293043 !important;
    font-family: "Merriweather", serif !important;
    font-size: 25px !important;

}
.chosee-us-p{
    color: #696e7b !important;
    background: white !important;
    font-weight: 400 !important;
    line-height: 32px !important;
    font-size: 16px !important;
    font-family: "Roboto", sans-serif !important;
}