.technology-heading {
    font-size: 18px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #01c9f5;
    text-decoration: underline;
}


.feature-item {
    text-align: center;
    margin-bottom: 30px;
}
.feature-item .image {
    height: 150px;
    padding: 25px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 7px 7px 0 0;
    border: 1px solid rgba(0, 102, 255, 0.1);
}
.feature-item .image img {
    max-width: 100%;
    display: inline-block;
}
.feature-item:hover .image {
    border-color: white;
}

.feature-item:hover .image, .service-item, .team-member:hover:after {
    -webkit-box-shadow: 10px 0 60px rgba(69, 69, 69, 0.1);
    box-shadow: 10px 0 60px rgba(69, 69, 69, 0.1);
}
.feature-item:hover h5 {
    background: #0066ff;
}

.feature-item h5 {
    color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 0;
    padding: 9px 15px;
    border-radius: 0 0 7px 7px;
    background: #01c9f5;
    font-size: 18px;
}



.card-skills:hover {
    border: #006fff 0.2em solid;
}

.btn-skills {
    background-color: #01c9f5 !important;
    border: 0px !important;
    margin-top: 8px;

}

@media (max-width: 576px) {

    /* Small devices */
    .card-skills {
        width: 100%;
        height: 200px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    /* Medium devices */
    .card-skills {
        width: 50%;
        height: 250px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    /* Large devices */
    .card-skills {
        width: 33.33%;
        height: 300px;
    }
}

@media (min-width: 993px) {

    /* Extra-large devices */
    .card-skills {
        width: 25%;
        height: 350px;
    }
}
@media (max-width: 991px) and (min-width: 320px){
    .section-title {
        margin-top: -7px;
        font-size: 31px!important;
        text-align: center!important;
    }
}