.mb-65, .my-65 {
    margin-bottom: 65px;
}
p{

    color: #696e7b;
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;

}
.pricing-tab {
    padding: 11px 35px;
    border-radius: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #0066ff;
}
.mt-15, .my-15 {
    margin-top: 15px;
}
.pricing-tab li button {
    padding: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fefeff;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: transparent;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.pricing-tab li:first-child button:before {
    position: absolute;
    width: 40px;
    height: 20px;
    content: '';
    top: 50%;
    right: 0;
    z-index: -1;
    background: white;
    border-radius: 10px;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
.pricing-tab li:first-child button.active:after, .pricing-tab li:last-child button.active:before {
    background: #01c9f5;
}
.pricing-tab li:first-child button:after {
    margin-left: 10px;
}
.pricing-tab li:first-child button:after, .pricing-tab li:last-child button:before {
    content: '';
    width: 20px;
    height: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: white;
    border-radius: 50%;
}
@media only screen and (min-width: 1200px){
    .pricing-area-three .pricing-plan-three {
        margin-left: 15px;
    }
}
.pricing-plan-three .badge {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 18px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 700;
    border-radius: 0;
    overflow: hidden;
    text-transform: uppercase;
    background: #ff8a00;
    font-family: "Merriweather", serif;
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
    padding: 17px 30px 15px 40px;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 15px 50%, 0 0);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 15px 50%, 0 0);
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.pricing-plan-three:hover .badge {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.pricing-plan-three .badge {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 18px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 700;
    border-radius: 0;
    overflow: hidden;
    text-transform: uppercase;
    background: #ff8a00;
    font-family: "Merriweather", serif;
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
    padding: 17px 30px 15px 40px;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 15px 50%, 0 0);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 15px 50%, 0 0);
}
.pricing-plan-three h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    display: inline-block;
    padding: 15px 20px 5px;
    background: url(../../../assets/images/shapes/pricing-title-bg.png) no-repeat 100%/100%;
}
@media only screen and (min-width: 376px){
    .pricing-plan-three .list-style-two {
        font-size: 18px;
    }
}
.list-style-two li:not(:last-child) {
    margin-bottom: 10px;
}

.list-style-two li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.pricing-plan-three .price-and-btn {
    padding: 0;
    width: auto;
    border-left: none;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@media only screen and (min-width: 992px){
    .price-and-btn {
        width: 35%;
        border-left: 1px solid rgba(0, 102, 255, 0.1);
    }
}
.pricing-plan-three .price-and-btn .price {
    color: #0066ff;
}
.pricing-plan-three .price-and-btn .price:after {
    color: #696e7b;
}
.price-and-btn .price:after {
    color: white;
    font-size: 18px;
    content: '/monthly';
}
.pricing-plan-three .price-and-btn .save {
    font-weight: 500;
}
.price-and-btn .save {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    color: #696e7b;
}
.wave-shapes {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100px;
    width: calc(100% + 100px);
    height: 100%;
}
.wave-shapes .shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-animation: leftRightOne 6s infinite;
    animation: leftRightOne 6s infinite;
}
.theme-btn.style-three:hover, a.theme-btn.style-three:hover {
    color: white;
    
}
.price-and-btn .save span {
    color: #0066ff;
}
.price-and-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 45px 50px 50px;
}
.pricing-plan-three .list-style-two {
    margin-bottom: 35px;
}

.pricing-plan-three {
    position: relative;
    margin-bottom: 30px;
    padding: 40px 45px;
    background: white;
    overflow: hidden;
    -webkit-box-shadow: 10px 0 60px rgba(170, 170, 170, 0.2);
    box-shadow: 10px 0 60px rgba(170, 170, 170, 0.2);
}