@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.icon-color-mobile {
  color: red !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.section-title {
  margin-bottom: 25px;
  font-weight: 700;
  color: #293043;
  font-size: 45px;
}

.icon-color {
  color: #01c9f5 !important;
  font-size: 18px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  [data-aos="fade-left"] {
    transform: none !important;
    transition: none !important;
  }

  [data-aos="fade-right"] {
    transform: none !important;
    transition: none !important;
  }



}

i[class*=" flaticon-"]:before,
i[class^=flaticon-]:before {
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-data-transfer:before {
  content: "\f119";
}

*,
::after,
::before {
  box-sizing: border-box;
}

user agent stylesheet i {
  font-style: italic;
}

.service-item .icon {
  font-size: 65px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 25px;
  color: #0066ff;
}