body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
}

p {
  font-family: 'Rubik', sans-serif !important;

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif !important;
}

span {
  font-family: 'Rubik', sans-serif !important;
}

a {
  font-family: 'Rubik', sans-serif !important;
}

/* h2 {
  font-family: 'Rubik', sans-serif !important;

}

h1 {
  font-family: 'Rubik', sans-serif !important;

} */

span {
  font-family: 'Rubik', sans-serif !important;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */